body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.game-title {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.wordle-game {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.letter-row {
    display: flex;
    justify-content: center;
    margin: 1%;
}

.letter {
    width: 4rem;
    height: 4rem;
    margin: 1%;
    text-align: center;
    font-size: 200%;
    border: solid white;
    background-color: black;
    color: white;
}
